<div class="max-w-full p-3  mx-auto flex flex-col sm:flex-row  justify-between gap-4 items-center ">
  <div class="w-full sm:w-[30%] min-h-[10em] sm:h-[30.5em] p-1 rounded-sm border-[1px] sm:sticky sm:top-4">
    <h2 class="text-center text-2xl">Account Details</h2>
    <div class="w-full h-full p-3">
      
            {{customer.default_address |  format_address}}
        
            <a class="px-[1.5em] py-0.5 bg-blue-500 text-white rounded-sm hover:bg-white hover:text-blue-500 duration-300" href="{{routes.account_addresses_url}}">View Address</a>
       
        
    </div>
  </div>
  <div class="w-full min-h-[20em] sm:w-[69%] sm:h-[30.5em]  p-1 flex flex-col gap-5  rounded-sm border-[1px]">
    <h2 class="text-center text-2xl font-bold">Order History</h2>
    <div class="w-full h-[80%] sm:h-[29em] flex gap-5 flex-wrap overflow-y-scroll p-2  hide_product_scrollbar">
      {% assign number_of_orders = customer.orders | size %}
      {% if number_of_orders > 0 %}

        {% for order in customer.orders %}
          <div class="w-[20em] h-[20em]  rounded-sm overflow-hidden shadow-sm shadow-black">
            <div class="w-full  h-[80%] overflow-hidden">
              {% if order.line_items.first.image %}
                <img
                  src="{{order.line_items.first.image |  img_url : "medium"}}"
                  alt="{{order.line_items.first.image.alt}}"
                  class="object-cover object-center w-full h-full hover:scale-[1.1] duration-300"
                  width=""
                  height="" />

              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'object-cover object-center w-full h-full hover:scale-[1.1] duration-300' }}
              {% endif %}

            </div>

            <div class="w-full h-[20%]  p-0.5">
                <div class="w-full h-1/2  flex justify-between p-1">
                 <p>{{order.name |  link_to: order.customer_url}}</p>
                 <p>{{order.financial_status_label}}</p>

                </div>
                <div class="w-full h-1/2  flex justify-between p-1">
                 <p class="px-2 text-white rounded-sm bg-blue-500">{{order.fulfillment_status}}</p>
                 <p>{{order.total_price |  money}}</p>

                </div>
            </div>
          </div>
        {% endfor %}

      {% else %}
        <p class="text-center font-semibold underline text-[1.3em] my-auto mx-auto">You don't have order History</p>
      {% endif %}
    </div>

  </div>
</div>