<div class="bg-white flex flex-col justify-center items-center w-full mx-auto gap-3 py-[1.5em]">

  <article
    class="max-w-[95%] md:max-w-[70%] lg:max-w-1/2 flex flex-col justify-center items-center gap-3 "
    itemscope
    itemtype="http://schema.org/BlogPosting">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'article_title' %}
          {% if section.settings.title %}
            <div class="text-center">
              <p class="text-gray-400 hover:text-black duration-300 ">{{ blog.title }}</p>
              <h1 itemprop="headline" class="text-[2em] font-bold">{{ article.title }}</h1>
            </div>

          {% endif %}

        {% when 'article_author' %}
          {% if section.settings.author %}
            <div itemscope itemtype="http://schema.org/Person">

              <small itemprop="author" class="text-gray-400 font-bold">{{ article.author }}</small>
            </div>
          {% endif %}

        {% when 'article_publish_date' %}
          {% if section.settings.date %}
            <time itemprop="datePublished dateCreated" datetime="{{article.published_at |  date : '%Y-%m-%d'}}">{{ article.published_at | date: format: 'on_date' }}</time>
          {% endif %}
        {% when 'article_thumbnail' %}

          {% if article.image != blank %}
            <img
              itemprop="image"
              class="w-full rounded-[10px] duration-300 hover:scale-[1.02] hover:rounded-[0px]"
              src="{{article.image |  img_url: 'large' }}"
              alt="{{article.image.alt}}"
              width=""
              height="10em" />

          {% else %}
            {% assign image_placeholder = 'lifestyle-2' %}
            {{ image_placeholder | placeholder_svg_tag: 'w-full rounded-[10px] hover:sclae-[1.1] duration-300 ' }}

          {% endif %}

        {% when 'article_content' %}
          <p itemprop="articleBody">{{ article.content }}</p>

          {% else %}

      {% endcase %}
    {% endfor %}

  </article>


</div>


{% if blogs.comments_enabled %}
  <div class="max-w-[70%] p-3 border-[1.5px] border-blue-500 rounded-[5px] mx-auto">
    {% if article.comments_count > 0 %}
      <p class=" text-center font-semibold text-[1.3em]">See what people say about this article</p>

      {% paginate article.comments by 5 %}
        {% for comments in article.comments %}
          <div class="px-3 py-2  mt-3  rounded-[5px] border-[1.5px] border-blue-400 flex flex-col">
            <p>
              <span class="text-[0.8em]">{{ comments.author }}</span>
            </p>
            <span class="text-[1em] ml-3">{{ comments.content }}</span>
            <span class="text-[0.7em]">{{ comments.created_at | date: format: 'default' }}</span>
          </div>
        {% endfor %}

        {% if paginate.pages > 1 %}
          <div class="mt-[1.5em]">
            {{ paginate | default_pagination }}
          </div>


        {% endif %}
      {% endpaginate %}
    {% else %}
      There are no comments on this article

    {% endif %}
  </div>

{% endif %}


<div class="w-[50%] mt-[5em]  mx-auto py-3">

  <h2 class="text-center mb-[1em] font-semibold text-[1.3em]">Your Comment</h2>
  {% form 'new_comment'
    , article %}
    <div class="w-full py-2  ">
      {% if form.errors %}

        {% for error in form.errors %}
          <div class="w-full">
            <ul>
              <li class="flex gap-2">
                <span>{% render 'info-icon' %}</span>
                {{ form.errors.messages[error] }}</li>
            </ul>
          </div>
        {% endfor %}


      {% endif %}
    </div>
    <div class="main w-full flex flex-col gap-4 ">
      <div class="name email flex justify-between items-center  ">
        <div class=" w-[48%] flex flex-col gap-0.5 ">
          <label for="comment_author">Name</label>
          <input
            type="text"
            name="comment[author]"
            id="comment_author"
            class="w-full border-[1.5px] border-blue-500 p-2 focus:outline-none rounded-[5px] "
            placeholder="Jhon Doe"
            required />
        </div>


        <div class="w-[48%] flex flex-col gap-0.5 max-w-full">
          <label for="comment_email">Email</label>
          <input
            type="email"
            name="comment[email]"
            id="comment_email"
            class="w-full border-[1.5px] border-blue-500  p-2 focus:outline-none rounded-[5px] "
            placeholder="Jhon@gmail.com"
            required />
        </div>

      </div>

      <div class="w-full flex flex-col">
        <label for="comment_content">Comment</label>
        <textarea
          name="comment[body]"
          id="comment_content"
          class="p-2 focus:outline-none border-[1.5px] border-blue-500 rounded-[5px]"
          placeholder="Article was interesting"
          required></textarea>
      </div>

      <div class="w-full flex justify-center items-center">
        <input type="submit" class="w-full p-2 bg-blue-600 text-white rounded-[5px] hover:bg-white duration-200 hover:border-[1.5px] hover:border-blue-500 hover:text-blue-600 cursor-pointer">
      </div>
    </div>
  {% endform %}
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title |  json }},
    "articleBody": {{ article.content |  strip_html |  json }},
    {% if article.excerpt != blank %}

      "description": {{ article.excerpt |  strip_html |  json }},
      {% endif %}
      {% if article.image %}

        "image" : [{
            "@type": "ImageObject",
            "url": {{ article.image | img_url : 'medium' | prepend: "https: " | json }}
          }],
        {% endif %}
        "datePublished": {{ article.published_at |  date : format: 'default' }},
        "dateCreated": {{ article.created_at |  date : format: 'default' }},
        "author": {
          "@type": "Person",
          "name": {{ article.author }}
        },
        "publisher": {
          "@type": "Organization",
          "name": {{ shop.name }}
        }
      }
</script>


{% schema %}
  {
    "name": "Template Article",
    "settings": [
      {
        "type": "checkbox",
        "default": true,
        "id": "title",
        "label": "Display Article Title"
      }, {
        "type": "checkbox",
        "default": true,
        "id": "author",
        "label": "Display Author Name"
      }, {
        "type": "checkbox",
        "id": "date",
        "default": true,
        "label": "Display Date of Publishing"
      }
    ],

    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_publish_date",
        "name": "Date",
        "limit": 1
      },
      {
        "type": "article_thumbnail",
        "name": "Thumbnail",
        "limit": 1
      }, {
        "type": "article_content",
        "name": "Content",
        "limit": 1
      }
    ]
  }
{% endschema %}